
@font-face {
    font-family: title;
    src: url(HotRod.ttf);

}
@font-face {
    font-family: title1;
    src: url(RetroSuperSkinny.otf);

}


h1 {
    color: rgb(36, 9, 9);
    font-size: 20px;
    font-weight: 550;
    position: fixed;
    left: 101vh;
    top: 55.86vh;
    font-family: title;
    letter-spacing: 3px
  
}


h2 {
    color: rgb(36, 9, 9);
    font-size: 35px;
    text-align: center;
    font-weight:900;
    position: fixed;
    left: 70vh;
    top: 32vh;
    font-family: title1;
    letter-spacing: 3.5px


}

h3 {
    color: rgb(36, 9, 9);
    font-size: 20px;
    font-weight:normal;
    position: fixed;
    left: 89.5vh;
    top: 20vh;
    font-family: title;
    letter-spacing: 3px
}


p {
    color: rgb(36, 9, 9);
    font-size: 20px;
    text-align: center;
    font-weight: 550;
    position: fixed;
    left: 73vh;
    top: 55vh;
    font-family: title;
    letter-spacing: 3px
  
}